@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:not(pre)>body {
    font-family: "Roboto", sans-serif;
}

/* Force Dark */

:root {
    --color-background: var(--dark-color-background) !important;
    --color-background-secondary: var(--dark-color-background-secondary) !important;
    --color-background-warning: var(--dark-color-background-warning) !important;
    --color-warning-text: var(--dark-color-warning-text) !important;
    --color-icon-background: var(--dark-color-icon-background) !important;
    --color-accent: var(--dark-color-accent) !important;
    --color-active-menu-item: var(--dark-color-active-menu-item) !important;
    --color-text: var(--dark-color-text) !important;
    --color-text-aside: var(--dark-color-text-aside) !important;
    --color-link: var(--dark-color-link) !important;
    --color-focus-outline: var(--dark-color-focus-outline) !important;

    --color-ts-keyword: var(--dark-color-ts-keyword) !important;
    --color-ts-module: var(--dark-color-ts-module) !important;
    --color-ts-namespace: var(--dark-color-ts-namespace) !important;
    --color-ts-enum: var(--dark-color-ts-enum) !important;
    --color-ts-enum-member: var(--dark-color-ts-enum-member) !important;
    --color-ts-variable: var(--dark-color-ts-variable) !important;
    --color-ts-function: var(--dark-color-ts-function) !important;
    --color-ts-class: var(--dark-color-ts-class) !important;
    --color-ts-interface: var(--dark-color-ts-interface) !important;
    --color-ts-constructor: var(--dark-color-ts-constructor) !important;
    --color-ts-property: var(--dark-color-ts-property) !important;
    --color-ts-method: var(--dark-color-ts-method) !important;
    --color-ts-call-signature: var(--dark-color-ts-call-signature) !important;
    --color-ts-index-signature: var(--dark-color-ts-index-signature) !important;
    --color-ts-constructor-signature: var(--dark-color-ts-constructor-signature) !important;
    --color-ts-parameter: var(--dark-color-ts-parameter) !important;
    --color-ts-type-parameter: var(--dark-color-ts-type-parameter) !important;
    --color-ts-accessor: var(--dark-color-ts-accessor) !important;
    --color-ts-get-signature: var(--dark-color-ts-get-signature) !important;
    --color-ts-set-signature: var(--dark-color-ts-set-signature) !important;
    --color-ts-type-alias: var(--dark-color-ts-type-alias) !important;
    --color-document: var(--dark-color-document) !important;

    --external-icon: var(--dark-external-icon) !important;
    --color-scheme: var(--dark-color-scheme) !important;
}

body {
    background-color: #212529 !important;
}

header {
    font-size: 1.8em;
    height: 3rem;
    padding-top: 0.3em;
    font-weight: normal;
}

@media (min-width: 1200px) {
    .site-menu {
        position: fixed;
        width: 21vw;
        top: 90px;
        bottom: 3.5em;
    }

    .page-menu {
        position: fixed;
        width: 21vw;
        right: 0px;
        top: 70px;
    }
}

header {
    background: #1c2125 !important;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    border-bottom: 0px !important;
}

header>* {
    background: #1c2125 !important;
}

.title {
    text-decoration: none !important;
}

.title::before {
    background-image: url('logo.png');
    background-size: 40px 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    content: " ";
    margin-right: 10px;
    vertical-align: -25%;
}

.tsd-toolbar-contents {
    margin-top: 3px !important;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #1c2125 !important;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 5px 5px);
    border-top: 0px !important;
    text-align: center;
    color: rgba(222, 226, 230, 0.75) !important;
}

footer p {
    margin: 0 !important;
}

.tsd-typography {
    line-height: 1.5 !important;
}

.col-content {
    margin-top: 0px !important;
    margin-bottom: 1em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.tsd-breadcrumb * {
    color: #888 !important;
}

.tsd-panel {
    font-size: 1.2rem !important;
    color: #aaa !important;
}

.page-menu .tsd-accordion-details {
    padding: 1em !important;
}

.tsd-panel>hr {
    border: 1px solid #444 !important;
}

.col-content h1 {
    font-weight: bold !important;
}

.col-content h1,
.col-content h2,
.col-content h3,
.col-content h4,
.col-content h5,
.col-content h6 {
    padding-bottom: 1rem !important;
    margin-bottom: 0em !important;
    color: #fff;
}

.col-content p:not(+pre) {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.tsd-page-title h2 {
    visibility: hidden !important;
    display: none;
}

#tsd-search.has-focus {
    background-color: #000 !important;
}

#tsd-search-field {
    font-size: 1em;
}

.text-muted {
    color: rgba(222, 226, 230, 0.75) !important;
}

.tsd-anchor-link:has(#Mermaid) {
    visibility: hidden !important;
    display: none !important;
}

a.current {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

pre {
    border: 0px;
    padding: 1.5em;
    border-radius: 4px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    margin-bottom: 1em;
}

li code,
ol code,
p code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color: var(--color-ts-class) !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    font-size: 1em !important;
    border-radius: 5px !important;
}

.tsd-signature {
    border: 0px;
    padding: 1.5em;
    border-radius: 4px !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

blockquote {
    border-left: 4px solid #66f;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1em 1em 1em 1.5em;
    color: #ccc !important;
}

blockquote p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tsd-typography ul {
    margin-top: 0 !important;
}

p:has(+pre) {
    margin: 0 !important;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em !important;
    font-size: 0.9rem !important;
    color: rgba(222, 226, 230, 0.75) !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    display: inline-block;
}

p:has(+pre) .tsd-anchor-icon {
    display: none !important;
    visibility: hidden !important;
}

p {
    margin: 0em 0em 1em 0em !important;
}

.nodeLabel p {
    margin: 0 !important;
}